<a href="javascript: clearMessages()" >Clear</a>
<table>
  <colgroup>
    <col width="250px" />
    <col width="300px" />
    <col />
    <col width="200px" />
  </colgroup>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Body</th>
    <th>Date</th>
  </tr>
  <% @messages.reverse_each do |message| %>
    <tr>
      <td>
        <%= message.from %>
      </td>
      <td>
        <%= message.to %>
      </td>
      <td>
        <%= link_to message.body, message_path(:id => message.id) %>
      </td>
      <td>
        <%= message.date  %>
      </td>
    </tr>
  <% end %>
</table>
